{% include 'header.html' %} {% from 'bootstrap5/form.html' import render_form %}

<header
  class="masthead"
  style="background-image: url('/static/assets/img/view.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          {% if not is_edit %}
          <h1>Add a new post to the blog.</h1>
          {% else %}
          <h1>Edit Post</h1>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container position-relative py-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-sm-12 col-md-8">
      {{ render_form(form, novalidate=True) }} {{ ckeditor.load() }} {{
      ckeditor.config(name='body') }}
      <p class="space-above">
        <a href="{{ url_for('home') }}">Back to the home page</a>
      </p>
    </div>
  </div>
</div>

{% include 'footer.html' %}
