{% include "header.html" %}
<header
  class="masthead"
  style="background-image: url('static/assets/img/female-driver.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>All about motorcycling</h1>
          <h2 class="subheading"
            >Welcome {% if current_user.is_authenticated %}
            {{current_user.name}} {% endif %} to the World of VRRRRRM.</h2
          >
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5 py-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7 content-cont">
      {% if not posts %}
      <h2 class="mb-5">
        There are no posts yet, click on the button below to create a new post.
      </h2>
      {% else %} {% for post in posts[:num] %}
      <!-- Post preview-->
      <div class="row">
        <div class="post-preview col-10 col-lg-11">
          <a href="{{ url_for('get_post', post_id=post.id) }}">
            <h2 class="post-title">{{ post.title }}</h2>
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
          </a>
          <p class="post-meta">
            Posted by
            <a href="#">{{ post.author.name }}</a>
            {{ post.date }} {% if current_user.id == 1 %}

            <a href="{{ url_for('delete', post_id=post.id) }}"></a>
            {% endif %}
          </p>
        </div>
         {% if current_user.id == post.author_id or current_user.id == 1 %}
        <div class="post-preview col-2 col-lg-1 mt-5">
          <a href="{{ url_for('edit_post', post_id=post.id) }}" class="m-3" id="edit"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              /></svg
          ></a>
          <a
            href="{{ url_for('delete', post_id=post.id) }}"
            class="m-3"
            id="delete"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-trash3"
              viewBox="0 0 16 16"
            >
              <path
                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
              /></svg
          ></a>
        </div>
        {% endif %}
      </div>
      <!-- Divider-->
      <hr class="my-2" />
      {% endfor %} {% endif %}
      <!-- Pager-->
      {% if posts | count > num %}
      <div class="d-flex row my-4">
        <div class="col-sm-3"><a
          class="btn btn-secondary text-uppercase m-2"
          href="{{ url_for('show_more', num=num) }}"
          >Older posts</a
        ></div>

        {% endif %}
      {% if current_user.id == 1 %}
         <div class="col-sm-4 ms-auto"><a
          class="btn btn-primary text-uppercase m-2 justify-content-end"
          href="{{ url_for('add_post') }}"
          >Create a new post</a
        ></div>

      </div>
      {% endif %}
    </div>
  </div>
</div>
{% include "footer.html" %}
