{% include 'header.html' %} {% from 'bootstrap5/form.html' import render_form %}

<header
  class="masthead"
  style="background-image: url('/static/assets/img/motorbike.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Register</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container position-relative pt-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-sm-12 col-md-8">
      <div class="container">
        {% if success %}
        <div class="alert alert-success mb-5">{{ success }}</div>
        {% else %}
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
      </div>

      {% if error %}
      <p class="error" style="color: red">
        {{ error }} {% endif %} {{ render_form(form, novalidate=True) }}
      </p>

      <p class="space-above">
        <a href="{{ url_for('login') }}">Already registered?</a>
      </p>
      {% endif %}
    </div>
  </div>
</div>

{% include 'footer.html' %}
